In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("worldcupmatches.csv")
df

,Date,Day,Comp,Round,Venue,Squad,Opponent,Start,Pos,Min,...,Defensive Blocks,Defensive Sh,Defensive Pass,Defensive Int,Defensive Tkl+Int,Defensive Clr,Defensive Err,FTR,Squad_Goals,Opponent_Goals
0,23-03-2018,Fri,Friendlies (M),Friendlies (M),Home,Argentina,Italy,Y,AM,63,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,W,2,0.0
1,23-03-2018,Fri,Friendlies (M),Friendlies (M),Home,Argentina,Italy,N,"On matchday squad, but did not play",Match Report,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,W,2,0.0
2,23-03-2018,Fri,Friendlies (M),Friendlies (M),Home,Argentina,Italy,N,"On matchday squad, but did not play",Match Report,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,W,2,0.0
3,23-03-2018,Fri,Friendlies (M),Friendlies (M),Home,Argentina,Italy,N,"On matchday squad, but did not play",Match Report,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,W,2,0.0
4,23-03-2018,Fri,Friendlies (M),Friendlies (M),Home,Argentina,Italy,Y,DM,63,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,W,2,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12157,21-11-2022,Mon,World Cup,Group stage,Neutral,Wales,United States,N,"On matchday squad, but did not play",Match Report,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,D,1,1.0
12158,21-11-2022,Mon,World Cup,Group stage,Neutral,Wales,United States,Y,CM,89,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,D,1,1.0
12159,21-11-2022,Mon,World Cup,Group stage,Neutral,Wales,United States,Y,FW,45,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,D,1,1.0
12160,21-11-2022,Mon,World Cup,Group stage,Neutral,Wales,United States,Y*,"FW,LW",90,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,D,1,1.0
12161,21-11-2022,Mon,World Cup,Group stage,Neutral,Wales,United States,Y,GK,90,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,D,1,1.0

In [3]:
df["Squad_Goals"].unique()

array([2, 1, 4, 0, 3, 5, 6, 7, 8], dtype=int64)

In [4]:
df["Opponent_Goals"].unique()

array([ 0.,  6.,  1.,  3.,  4.,  2., nan,  7.,  5.])

In [6]:
df.columns

Index(['Date', 'Day', 'Comp', 'Round', 'Venue', 'Squad', 'Opponent', 'Start',
       'Pos', 'Min', 'Gls', 'Ast', 'PK', 'PKatt', 'Sh', 'SoT', 'CrdY', 'CrdR',
       'Touches', 'Tkl', 'Int', 'Blocks', 'xG', 'npxG', 'xAG', 'SCA', 'GCA',
       'Cmp', 'Att', 'Cmp%', 'Prog', 'Succ', 'Att.1', 'Match Report', 'Fls',
       'Fld', 'Off', 'Crs', 'TklW', 'OG', 'PKwon', 'PKcon', 'Defensive Tkl',
       'Defensive TklW', 'Defensive Att', 'Defensive Tkl%', 'Defensive Past',
       'Defensive Blocks', 'Defensive Sh', 'Defensive Pass', 'Defensive Int',
       'Defensive Tkl+Int', 'Defensive Clr', 'Defensive Err', 'FTR',
       'Squad_Goals', 'Opponent_Goals'],
      dtype='object')

In [7]:
df = df.groupby(["Date","Venue","Squad","Opponent","FTR"]).mean()

C:\Users\Admin-Pc\AppData\Local\Temp\ipykernel_13384\2994776570.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df = df.groupby(["Date","Venue","Squad","Opponent","FTR"]).mean()

In [8]:
df = df.reset_index()

In [9]:
df

,Date,Venue,Squad,Opponent,FTR,Gls,Ast,PK,PKatt,Sh,...,Defensive Past,Defensive Blocks,Defensive Sh,Defensive Pass,Defensive Int,Defensive Tkl+Int,Defensive Clr,Defensive Err,Squad_Goals,Opponent_Goals
0,01-06-2019,Neutral,Australia,Jordan,L,0.000000,0.000000,0.0,0.0,1.142857,...,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,0.0,1.0
1,01-07-2019,Neutral,Iran,Yemen,W,0.363636,0.272727,0.0,0.0,1.545455,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,5.0,0.0
2,01-08-2019,Neutral,Saudi Arabia,Korea Republic,W,0.500000,0.000000,0.0,0.0,1.500000,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,4.0,0.0
3,01-10-2022,Neutral,Senegal,Zimbabwe,W,0.000000,0.000000,0.0,0.0,0.750000,...,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,1.0,0.0
4,01-11-2019,Neutral,Australia,Palestine,W,0.285714,0.000000,0.0,0.0,1.571429,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
896,31-05-2018,Away,Netherlands,Slovakia,D,0.000000,0.142857,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0
897,31-05-2018,Away,Senegal,Luxembourg,D,0.000000,0.000000,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
898,31-08-2022,Neutral,Mexico,Paraguay,L,0.000000,0.000000,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0
899,31-12-2018,Away,Iran,Qatar,W,0.166667,0.000000,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0
900,31-12-2018,Neutral,Saudi Arabia,Korea Republic,D,0.000000,0.000000,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0

In [10]:
df["Date"] = pd.to_datetime(df["Date"])

C:\Users\Admin-Pc\AppData\Local\Temp\ipykernel_13384\936118274.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df["Date"] = pd.to_datetime(df["Date"])

In [11]:
df = df.sort_values(by = "Date",ascending = True)

In [12]:
df = df.reset_index()

In [13]:
df.drop(['index'],axis = 1, inplace = True)

In [15]:
df

,Date,Venue,Squad,Opponent,FTR,Gls,Ast,PK,PKatt,Sh,...,Defensive Sh,Defensive Pass,Defensive Int,Defensive Tkl+Int,Defensive Clr,Defensive Err,Squad_Goals,Opponent_Goals,Team1_Elo,Team2_Elo
0,2018-01-28,Home,United States,Bosnia and Herzegovina,D,0.000000,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0
1,2018-01-31,Home,Mexico,Bosnia and Herzegovina,W,0.000000,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0
2,2018-02-26,Home,Saudi Arabia,Moldova,W,0.000000,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3.0,0.0,0.0,0.0
3,2018-03-17,Home,Iran,Sierra Leone,W,0.400000,0.200000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,0.0,0.0,0.0
4,2018-03-22,Home,Denmark,Panama,W,0.000000,0.200000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
896,2022-11-22,Neutral,Tunisia,Denmark,D,0.000000,0.000000,0.000000,0.000000,0.846154,...,0.0,1.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0
897,2022-11-22,Neutral,Argentina,Saudi Arabia,L,0.133333,0.000000,0.133333,0.133333,1.000000,...,0.0,2.0,1.0,3.0,0.0,0.0,1.0,2.0,0.0,0.0
898,2022-11-23,Neutral,Spain,Costa Rica,W,0.461538,0.153846,0.076923,0.076923,0.923077,...,NaN,NaN,NaN,NaN,NaN,NaN,7.0,0.0,0.0,0.0
899,2022-11-23,Neutral,Costa Rica,Spain,L,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,1.0,2.0,2.0,4.0,0.0,0.0,7.0,0.0,0.0
900,2022-11-26,Neutral,Australia,Tunisia,W,0.000000,0.000000,0.000000,0.000000,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0

In [16]:
df["Team1_Elo"] = float(0)
df["Team2_Elo"] = float(0)

In [17]:
teams = df.Squad.unique().tolist()

In [18]:
len(df.Squad.unique().tolist())==len(df.Opponent.unique().tolist())

False

In [19]:
teams

['United States',
 'Mexico',
 'Saudi Arabia',
 'Iran',
 'Denmark',
 'Scotland',
 'Senegal',
 'Tunisia',
 'Argentina',
 'Ireland',
 'England',
 'Costa Rica',
 'Australia',
 'Netherlands',
 'Poland',
 'Spain',
 'France',
 'Wales']

In [20]:
#df.groupby()

In [21]:
data1 = teams

In [22]:
data1 = pd.DataFrame(teams)

In [23]:
data1.columns = ["Teams"]

In [24]:
data2 = df["Opponent"].unique().tolist()

In [25]:
data2 = pd.DataFrame(data2)

In [26]:
data2.columns = ["Teams"]

In [27]:
frames = [data1,data2]

In [28]:
result = pd.concat(frames,axis = 0)

In [29]:
result.to_csv("Teams.csv",index=False)

In [30]:
data3 = pd.read_csv("Teams.csv")
data3

             Teams
0    United States
1           Mexico
2     Saudi Arabia
3             Iran
4          Denmark
..             ...
158   South Africa
159       Botswana
160         Rwanda
161    New Zealand
162        Comoros

[163 rows x 1 columns]

In [31]:
data3.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
158    False
159    False
160    False
161    False
162    False
Length: 163, dtype: bool

In [32]:
data3[data3.duplicated()]

             Teams
23      Costa Rica
25            Iran
29         Tunisia
30     Netherlands
31        Scotland
33         England
39           Spain
42       Argentina
49          Mexico
50           Wales
53          France
58   United States
64         Denmark
66       Australia
68         Senegal
69          Poland
152   Saudi Arabia

In [33]:
data3 = data3.drop_duplicates()

In [34]:
teams = data3["Teams"].tolist()

In [35]:
data3 = {
    "Team": teams
}
current_elo_df = pd.DataFrame(data3)

In [36]:
current_elo_df["Date"] = "2018-01-27"
current_elo_df["Elo"] = 1600.0

In [37]:
current_elo_df

              Team        Date     Elo
0    United States  2018-01-27  1600.0
1           Mexico  2018-01-27  1600.0
2     Saudi Arabia  2018-01-27  1600.0
3             Iran  2018-01-27  1600.0
4          Denmark  2018-01-27  1600.0
..             ...         ...     ...
141   South Africa  2018-01-27  1600.0
142       Botswana  2018-01-27  1600.0
143         Rwanda  2018-01-27  1600.0
144    New Zealand  2018-01-27  1600.0
145        Comoros  2018-01-27  1600.0

[146 rows x 3 columns]

In [38]:
current_elo_df.Date = pd.to_datetime(current_elo_df.Date)

In [39]:
current_elo_df.dtypes

Team            object
Date    datetime64[ns]
Elo            float64
dtype: object

In [40]:
current_elo_df[(current_elo_df["Team"] == "Korea Republic") & (current_elo_df["Date"] <= "2018-01-27")]

              Team       Date     Elo
32  Korea Republic 2018-01-27  1600.0

In [41]:
df

,Date,Venue,Squad,Opponent,FTR,Gls,Ast,PK,PKatt,Sh,...,Defensive Sh,Defensive Pass,Defensive Int,Defensive Tkl+Int,Defensive Clr,Defensive Err,Squad_Goals,Opponent_Goals,Team1_Elo,Team2_Elo
0,2018-01-28,Home,United States,Bosnia and Herzegovina,D,0.000000,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0
1,2018-01-31,Home,Mexico,Bosnia and Herzegovina,W,0.000000,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0
2,2018-02-26,Home,Saudi Arabia,Moldova,W,0.000000,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3.0,0.0,0.0,0.0
3,2018-03-17,Home,Iran,Sierra Leone,W,0.400000,0.200000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,0.0,0.0,0.0
4,2018-03-22,Home,Denmark,Panama,W,0.000000,0.200000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
896,2022-11-22,Neutral,Tunisia,Denmark,D,0.000000,0.000000,0.000000,0.000000,0.846154,...,0.0,1.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0
897,2022-11-22,Neutral,Argentina,Saudi Arabia,L,0.133333,0.000000,0.133333,0.133333,1.000000,...,0.0,2.0,1.0,3.0,0.0,0.0,1.0,2.0,0.0,0.0
898,2022-11-23,Neutral,Spain,Costa Rica,W,0.461538,0.153846,0.076923,0.076923,0.923077,...,NaN,NaN,NaN,NaN,NaN,NaN,7.0,0.0,0.0,0.0
899,2022-11-23,Neutral,Costa Rica,Spain,L,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,1.0,2.0,2.0,4.0,0.0,0.0,7.0,0.0,0.0
900,2022-11-26,Neutral,Australia,Tunisia,W,0.000000,0.000000,0.000000,0.000000,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0

In [42]:
for index, row in df.iterrows():
    home_Elo_Df =  current_elo_df[(current_elo_df["Team"] == row["Squad"]) & (current_elo_df["Date"] <= row["Date"])]
    away_Elo_Df =  current_elo_df[(current_elo_df["Team"] == row["Opponent"]) & (current_elo_df["Date"] <= row["Date"])]
    dr = home_Elo_Df.Elo.values[0]+100 -away_Elo_Df.Elo.values[0]
    e = round(1/(10**(-dr/400) + 1),3)
    r = [1,0.5,0]
    h_elo = 0.0
    a_elo = 0.0
    if row["FTR"]=="W":
        p_h = 20*(r[0]-e)
        p_a = 20*(r[-1]-e)
        h_elo = home_Elo_Df.Elo.values[0] + p_h
        a_elo = away_Elo_Df.Elo.values[0] + p_a
    elif row["FTR"] == "D":
        p_h = 20*(r[1]-e)
        p_a = 20*(r[1]-e)
        h_elo = home_Elo_Df.Elo.values[0] + p_h
        a_elo = away_Elo_Df.Elo.values[0] + p_a
    else:
        p_h = 20*(r[-1]-e)
        p_a = 20*(r[0]-e)
        h_elo = home_Elo_Df.Elo.values[0] + p_h
        a_elo = away_Elo_Df.Elo.values[0] + p_a
    
    df.at[index, 'Team1_Elo']=h_elo
    df.at[index, 'Team2_Elo']=a_elo
    current_elo_df.at[home_Elo_Df.index[0], 'Elo']=h_elo
    current_elo_df.at[home_Elo_Df.index[0], 'Date']=row["Date"]
    current_elo_df.at[away_Elo_Df.index[0], 'Elo']=a_elo
    current_elo_df.at[away_Elo_Df.index[0], 'Date']=row["Date"]

In [43]:
df

,Date,Venue,Squad,Opponent,FTR,Gls,Ast,PK,PKatt,Sh,...,Defensive Sh,Defensive Pass,Defensive Int,Defensive Tkl+Int,Defensive Clr,Defensive Err,Squad_Goals,Opponent_Goals,Team1_Elo,Team2_Elo
0,2018-01-28,Home,United States,Bosnia and Herzegovina,D,0.000000,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1597.20,1597.20
1,2018-01-31,Home,Mexico,Bosnia and Herzegovina,W,0.000000,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,1607.12,1584.32
2,2018-02-26,Home,Saudi Arabia,Moldova,W,0.000000,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3.0,0.0,1607.20,1587.20
3,2018-03-17,Home,Iran,Sierra Leone,W,0.400000,0.200000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,0.0,1607.20,1587.20
4,2018-03-22,Home,Denmark,Panama,W,0.000000,0.200000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,1607.20,1587.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
896,2022-11-22,Neutral,Tunisia,Denmark,D,0.000000,0.000000,0.000000,0.000000,0.846154,...,0.0,1.0,0.0,2.0,1.0,0.0,0.0,0.0,1568.22,1626.70
897,2022-11-22,Neutral,Argentina,Saudi Arabia,L,0.133333,0.000000,0.133333,0.133333,1.000000,...,0.0,2.0,1.0,3.0,0.0,0.0,1.0,2.0,1660.08,1576.80
898,2022-11-23,Neutral,Spain,Costa Rica,W,0.461538,0.153846,0.076923,0.076923,0.923077,...,NaN,NaN,NaN,NaN,NaN,NaN,7.0,0.0,1630.48,1447.86
899,2022-11-23,Neutral,Costa Rica,Spain,L,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,1.0,2.0,2.0,4.0,0.0,0.0,7.0,1440.20,1642.82
900,2022-11-26,Neutral,Australia,Tunisia,W,0.000000,0.000000,0.000000,0.000000,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,1577.12,1555.38

In [44]:
df.head()

,Date,Venue,Squad,Opponent,FTR,Gls,Ast,PK,PKatt,Sh,...,Defensive Sh,Defensive Pass,Defensive Int,Defensive Tkl+Int,Defensive Clr,Defensive Err,Squad_Goals,Opponent_Goals,Team1_Elo,Team2_Elo
0,2018-01-28,Home,United States,Bosnia and Herzegovina,D,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1597.20,1597.20
1,2018-01-31,Home,Mexico,Bosnia and Herzegovina,W,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,1607.12,1584.32
2,2018-02-26,Home,Saudi Arabia,Moldova,W,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3.0,0.0,1607.20,1587.20
3,2018-03-17,Home,Iran,Sierra Leone,W,0.4,0.2,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,0.0,1607.20,1587.20
4,2018-03-22,Home,Denmark,Panama,W,0.0,0.2,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,1607.20,1587.20

In [45]:
df.to_csv("worldcupmatch2022.csv")

In [46]:
df=pd.read_csv('worldcupmatch2022.csv')

In [47]:
cols = ['Date', 'Venue', 'Squad', 'Opponent', 'FTR', 'Ast', 'PKatt', 'SoT', 'CrdY', 'CrdR', 'Touches', 'Tkl', 'Int', 'Blocks', 'Cmp%', 'Succ',
       'Fls', 'Off', 'PKwon', 'Defensive Tkl%', 'Defensive Sh',
       'Defensive Pass', 'Defensive Tkl+Int', 'Defensive Clr', 'Squad_Goals','Opponent_Goals','Team1_Elo','Team2_Elo']

In [48]:
df=df[cols]

In [49]:
df

,Date,Venue,Squad,Opponent,FTR,Ast,PKatt,SoT,CrdY,CrdR,...,PKwon,Defensive Tkl%,Defensive Sh,Defensive Pass,Defensive Tkl+Int,Defensive Clr,Squad_Goals,Opponent_Goals,Team1_Elo,Team2_Elo
0,2018-01-28,Home,United States,Bosnia and Herzegovina,D,0.000000,0.000000,NaN,0.000000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1597.20,1597.20
1,2018-01-31,Home,Mexico,Bosnia and Herzegovina,W,0.000000,0.000000,NaN,0.000000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,1607.12,1584.32
2,2018-02-26,Home,Saudi Arabia,Moldova,W,0.000000,0.000000,NaN,0.000000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,3.0,0.0,1607.20,1587.20
3,2018-03-17,Home,Iran,Sierra Leone,W,0.200000,0.000000,NaN,0.000000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,0.0,1607.20,1587.20
4,2018-03-22,Home,Denmark,Panama,W,0.200000,0.000000,NaN,0.000000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,1607.20,1587.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
896,2022-11-22,Neutral,Tunisia,Denmark,D,0.000000,0.000000,0.076923,0.076923,0.0,...,NaN,NaN,0.0,1.0,2.0,1.0,0.0,0.0,1568.22,1626.70
897,2022-11-22,Neutral,Argentina,Saudi Arabia,L,0.000000,0.133333,0.466667,0.000000,0.0,...,NaN,100.0,0.0,2.0,3.0,0.0,1.0,2.0,1660.08,1576.80
898,2022-11-23,Neutral,Spain,Costa Rica,W,0.153846,0.076923,0.384615,0.000000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,7.0,0.0,1630.48,1447.86
899,2022-11-23,Neutral,Costa Rica,Spain,L,0.000000,0.000000,0.000000,0.142857,0.0,...,NaN,NaN,0.0,1.0,2.0,4.0,0.0,7.0,1440.20,1642.82
900,2022-11-26,Neutral,Australia,Tunisia,W,0.000000,0.000000,0.000000,0.000000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,1577.12,1555.38

In [50]:
df.columns

Index(['Date', 'Venue', 'Squad', 'Opponent', 'FTR', 'Ast', 'PKatt', 'SoT',
       'CrdY', 'CrdR', 'Touches', 'Tkl', 'Int', 'Blocks', 'Cmp%', 'Succ',
       'Fls', 'Off', 'PKwon', 'Defensive Tkl%', 'Defensive Sh',
       'Defensive Pass', 'Defensive Tkl+Int', 'Defensive Clr', 'Squad_Goals',
       'Opponent_Goals', 'Team1_Elo', 'Team2_Elo'],
      dtype='object')

In [51]:
df["Tkl+Int"] = df["Tkl"] + df["Int"]

In [52]:
df.drop(["Tkl","Int"],axis=1,inplace=True)

In [53]:
df

,Date,Venue,Squad,Opponent,FTR,Ast,PKatt,SoT,CrdY,CrdR,...,Defensive Tkl%,Defensive Sh,Defensive Pass,Defensive Tkl+Int,Defensive Clr,Squad_Goals,Opponent_Goals,Team1_Elo,Team2_Elo,Tkl+Int
0,2018-01-28,Home,United States,Bosnia and Herzegovina,D,0.000000,0.000000,NaN,0.000000,0.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1597.20,1597.20,NaN
1,2018-01-31,Home,Mexico,Bosnia and Herzegovina,W,0.000000,0.000000,NaN,0.000000,0.0,...,NaN,NaN,NaN,NaN,NaN,1.0,0.0,1607.12,1584.32,NaN
2,2018-02-26,Home,Saudi Arabia,Moldova,W,0.000000,0.000000,NaN,0.000000,0.0,...,NaN,NaN,NaN,NaN,NaN,3.0,0.0,1607.20,1587.20,NaN
3,2018-03-17,Home,Iran,Sierra Leone,W,0.200000,0.000000,NaN,0.000000,0.0,...,NaN,NaN,NaN,NaN,NaN,4.0,0.0,1607.20,1587.20,NaN
4,2018-03-22,Home,Denmark,Panama,W,0.200000,0.000000,NaN,0.000000,0.0,...,NaN,NaN,NaN,NaN,NaN,1.0,0.0,1607.20,1587.20,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
896,2022-11-22,Neutral,Tunisia,Denmark,D,0.000000,0.000000,0.076923,0.076923,0.0,...,NaN,0.0,1.0,2.0,1.0,0.0,0.0,1568.22,1626.70,2.000000
897,2022-11-22,Neutral,Argentina,Saudi Arabia,L,0.000000,0.133333,0.466667,0.000000,0.0,...,100.0,0.0,2.0,3.0,0.0,1.0,2.0,1660.08,1576.80,1.666667
898,2022-11-23,Neutral,Spain,Costa Rica,W,0.153846,0.076923,0.384615,0.000000,0.0,...,NaN,NaN,NaN,NaN,NaN,7.0,0.0,1630.48,1447.86,1.000000
899,2022-11-23,Neutral,Costa Rica,Spain,L,0.000000,0.000000,0.000000,0.142857,0.0,...,NaN,0.0,1.0,2.0,4.0,0.0,7.0,1440.20,1642.82,2.428571
900,2022-11-26,Neutral,Australia,Tunisia,W,0.000000,0.000000,0.000000,0.000000,0.0,...,NaN,NaN,NaN,NaN,NaN,1.0,0.0,1577.12,1555.38,5.000000

In [54]:
df.columns

Index(['Date', 'Venue', 'Squad', 'Opponent', 'FTR', 'Ast', 'PKatt', 'SoT',
       'CrdY', 'CrdR', 'Touches', 'Blocks', 'Cmp%', 'Succ', 'Fls', 'Off',
       'PKwon', 'Defensive Tkl%', 'Defensive Sh', 'Defensive Pass',
       'Defensive Tkl+Int', 'Defensive Clr', 'Squad_Goals', 'Opponent_Goals',
       'Team1_Elo', 'Team2_Elo', 'Tkl+Int'],
      dtype='object')

In [55]:
columns = ["FTR","Venue","Ast","PKatt","SoT","CrdY",'CrdR', 'Touches', 'Blocks','PKwon','Defensive Sh', 'Defensive Pass','Defensive Tkl+Int', 'Defensive Clr', 'Squad_Goals', 'Opponent_Goals',
       'Team1_Elo', 'Team2_Elo', 'Tkl+Int']

In [56]:
df = df[columns]

In [57]:
df

,FTR,Venue,Ast,PKatt,SoT,CrdY,CrdR,Touches,Blocks,PKwon,Defensive Sh,Defensive Pass,Defensive Tkl+Int,Defensive Clr,Squad_Goals,Opponent_Goals,Team1_Elo,Team2_Elo,Tkl+Int
0,D,Home,0.000000,0.000000,NaN,0.000000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1597.20,1597.20,NaN
1,W,Home,0.000000,0.000000,NaN,0.000000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,1607.12,1584.32,NaN
2,W,Home,0.000000,0.000000,NaN,0.000000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,0.0,1607.20,1587.20,NaN
3,W,Home,0.200000,0.000000,NaN,0.000000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,0.0,1607.20,1587.20,NaN
4,W,Home,0.200000,0.000000,NaN,0.000000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,1607.20,1587.20,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
896,D,Neutral,0.000000,0.000000,0.076923,0.076923,0.0,31.923077,0.538462,NaN,0.0,1.0,2.0,1.0,0.0,0.0,1568.22,1626.70,2.000000
897,L,Neutral,0.000000,0.133333,0.466667,0.000000,0.0,52.733333,0.800000,NaN,0.0,2.0,3.0,0.0,1.0,2.0,1660.08,1576.80,1.666667
898,W,Neutral,0.153846,0.076923,0.384615,0.000000,0.0,69.692308,0.307692,NaN,NaN,NaN,NaN,NaN,7.0,0.0,1630.48,1447.86,1.000000
899,L,Neutral,0.000000,0.000000,0.000000,0.142857,0.0,22.071429,0.857143,NaN,0.0,1.0,2.0,4.0,0.0,7.0,1440.20,1642.82,2.428571
900,W,Neutral,0.000000,0.000000,0.000000,0.000000,0.0,64.000000,4.000000,NaN,NaN,NaN,NaN,NaN,1.0,0.0,1577.12,1555.38,5.000000

In [58]:
df = df.fillna(0)

In [59]:
df

,FTR,Venue,Ast,PKatt,SoT,CrdY,CrdR,Touches,Blocks,PKwon,Defensive Sh,Defensive Pass,Defensive Tkl+Int,Defensive Clr,Squad_Goals,Opponent_Goals,Team1_Elo,Team2_Elo,Tkl+Int
0,D,Home,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1597.20,1597.20,0.000000
1,W,Home,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1607.12,1584.32,0.000000
2,W,Home,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,3.0,0.0,1607.20,1587.20,0.000000
3,W,Home,0.200000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,4.0,0.0,1607.20,1587.20,0.000000
4,W,Home,0.200000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1607.20,1587.20,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
896,D,Neutral,0.000000,0.000000,0.076923,0.076923,0.0,31.923077,0.538462,0.0,0.0,1.0,2.0,1.0,0.0,0.0,1568.22,1626.70,2.000000
897,L,Neutral,0.000000,0.133333,0.466667,0.000000,0.0,52.733333,0.800000,0.0,0.0,2.0,3.0,0.0,1.0,2.0,1660.08,1576.80,1.666667
898,W,Neutral,0.153846,0.076923,0.384615,0.000000,0.0,69.692308,0.307692,0.0,0.0,0.0,0.0,0.0,7.0,0.0,1630.48,1447.86,1.000000
899,L,Neutral,0.000000,0.000000,0.000000,0.142857,0.0,22.071429,0.857143,0.0,0.0,1.0,2.0,4.0,0.0,7.0,1440.20,1642.82,2.428571
900,W,Neutral,0.000000,0.000000,0.000000,0.000000,0.0,64.000000,4.000000,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1577.12,1555.38,5.000000

In [61]:
df.to_csv("worldcupmatch22final.csv")

In [66]:
df=pd.read_csv("worldcupmatch22final.csv")

In [67]:
df

,Squad FTR,Venue,Squad Ast,Squad PKatt,Squad SoT,Squad CrdY,Squad CrdR,Squad Touches,Squad Blocks,Squad PKwon,Defensive Sh,Defensive Pass,Defensive Tkl+Int,Defensive Clr,Squad_Goals,Opponent_Goals,Team1_Elo,Team2_Elo,Tkl+Int
0,D,Home,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0,0,0,0,0,0,0,1597.20,1597.20,0.000000
1,W,Home,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0,0,0,0,0,1,0,1607.12,1584.32,0.000000
2,W,Home,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0,0,0,0,0,3,0,1607.20,1587.20,0.000000
3,W,Home,0.200000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0,0,0,0,0,4,0,1607.20,1587.20,0.000000
4,W,Home,0.200000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0,0,0,0,0,1,0,1607.20,1587.20,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
896,D,Neutral,0.000000,0.000000,0.076923,0.076923,0.0,31.923077,0.538462,0,0,1,2,1,0,0,1568.22,1626.70,2.000000
897,L,Neutral,0.000000,0.133333,0.466667,0.000000,0.0,52.733333,0.800000,0,0,2,3,0,1,2,1660.08,1576.80,1.666667
898,W,Neutral,0.153846,0.076923,0.384615,0.000000,0.0,69.692308,0.307692,0,0,0,0,0,7,0,1630.48,1447.86,1.000000
899,L,Neutral,0.000000,0.000000,0.000000,0.142857,0.0,22.071429,0.857143,0,0,1,2,4,0,7,1440.20,1642.82,2.428571
900,W,Neutral,0.000000,0.000000,0.000000,0.000000,0.0,64.000000,4.000000,0,0,0,0,0,1,0,1577.12,1555.38,5.000000

In [69]:
from sklearn import preprocessing

In [71]:
df["Venue"]=preprocessing.LabelEncoder().fit_transform(df["Venue"])

In [88]:
df["Squad FTR"]=preprocessing.LabelEncoder().fit_transform(df["Squad FTR"])

In [89]:
df

,Squad FTR,Venue,Squad Ast,Squad PKatt,Squad SoT,Squad CrdY,Squad CrdR,Squad Touches,Squad Blocks,Squad PKwon,Defensive Sh,Defensive Pass,Defensive Tkl+Int,Defensive Clr,Squad_Goals,Opponent_Goals,Team1_Elo,Team2_Elo,Tkl+Int
0,0,1,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0,0,0,0,0,0,0,1597.20,1597.20,0.000000
1,2,1,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0,0,0,0,0,1,0,1607.12,1584.32,0.000000
2,2,1,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0,0,0,0,0,3,0,1607.20,1587.20,0.000000
3,2,1,0.200000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0,0,0,0,0,4,0,1607.20,1587.20,0.000000
4,2,1,0.200000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0,0,0,0,0,1,0,1607.20,1587.20,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
896,0,2,0.000000,0.000000,0.076923,0.076923,0.0,31.923077,0.538462,0,0,1,2,1,0,0,1568.22,1626.70,2.000000
897,1,2,0.000000,0.133333,0.466667,0.000000,0.0,52.733333,0.800000,0,0,2,3,0,1,2,1660.08,1576.80,1.666667
898,2,2,0.153846,0.076923,0.384615,0.000000,0.0,69.692308,0.307692,0,0,0,0,0,7,0,1630.48,1447.86,1.000000
899,1,2,0.000000,0.000000,0.000000,0.142857,0.0,22.071429,0.857143,0,0,1,2,4,0,7,1440.20,1642.82,2.428571
900,2,2,0.000000,0.000000,0.000000,0.000000,0.0,64.000000,4.000000,0,0,0,0,0,1,0,1577.12,1555.38,5.000000

In [90]:
X = df.drop(["Squad FTR",'Squad_Goals', 'Opponent_Goals'],1)

C:\Users\Admin-Pc\AppData\Local\Temp\ipykernel_13384\3191285883.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = df.drop(["Squad FTR",'Squad_Goals', 'Opponent_Goals'],1)

In [91]:
y = df["Squad FTR"]

In [92]:
params = {
        'min_child_weight': [1, 5, 10],
        'gamma': [0.5, 1, 1.5, 2, 5],
        'subsample': [0.6, 0.8, 1.0],
        'colsample_bytree': [0.6, 0.8, 1.0],
        'max_depth': [3, 4, 5],
        'learning_rate':[0.03,0.05,0.07,],
        'n_estimators':[400,500,600,700],
        'max_delta_step' :[0,1],
        'colsample_bynode' :[0,0.5]
        }

In [93]:
from sklearn.model_selection import GridSearchCV,RandomizedSearchCV
from xgboost import XGBClassifier

In [94]:
xgb_model = XGBClassifier()

In [95]:
def timer(start_time=None):
    if not start_time:
        start_time = datetime.now()
        return start_time
    elif start_time:
        thour, temp_sec = divmod((datetime.now() - start_time).total_seconds(), 3600)
        tmin, tsec = divmod(temp_sec, 60)
        print('\n Time taken: %i hours %i minutes and %s seconds.' % (thour, tmin, round(tsec, 2)))

In [96]:
Grid_search=GridSearchCV(xgb_model,param_grid=params,scoring='roc_auc',n_jobs=10,cv=10,verbose=True)

In [ ]:
from datetime import datetime
# Here we go
start_time = timer(None) # timing starts from this point for "start_time" variable
Grid_search.fit(X,y)
timer(start_time) # timing ends here for "start_time" variable

Fitting 10 folds for each of 19440 candidates, totalling 194400 fits